body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.memory-container {
    border: 1px solid #333;
    height: 100px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.page {
    background-color: #007bff;
    color: white;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.process-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.process {
    background-color: #28a745;
    color: white;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
}

.process:hover {
    background-color: #218838;
}

#message {
    margin-top: 20px;
    color: red;
}
